@{
    ViewData["Title"] = "Home Page";
}
    <div class="row">
        <div class="col-4"></div>
           <div class="col-4">

               <form class="text-center" asp-controller="Home" asp-action="SelectStore">
                   <div class="form-group">
                       <label for="zipCode">Lets Get Started!</label>
                       <input name="zip" type="text" class="form-control" id="zipCode" placeholder="Zip code...">
                   </div>

                   <select name ="store" class="mdb-select md-form">
                       <option value="" disabled selected>Select a Store...</option>
                       <option value="publix">Publix</option>
                       <option value="aldi">Aldi</option>
                   </select>
                   <button class="btn-outline-primary">Go!</button>
               </form>

            </div>
        <div class="col-4"></div>
    </div>
