@model Itemcost
@{
    ViewData["Title"] = "Items";
}
    <div class="col-lg-6 p-2">
        <div class="card">
            <div class="font-weight-bold card-title justify-content-center">
                @Model.Item.Itemname
            </div>
            <div class="card-body">
                @Model.Itemcost1<br />
                <a class="btn btn-outline-success">Add</a>
                <a class="btn btn-outline-danger">Remove</a>
            </div>
        </div>
    </div>